body{
    background:#EF4136;
    color:#222;
    font-size:18px;
}
h1{
    font-size:2em;
    text-decoration:underline;
}
h2{
    font-size:1.5em;
}
.wrapper{
    max-width:800px;
    margin:0 auto;
    background:#eee;
    padding:20px;
    font-family:Helvetica,sans-serif;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
/* Start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
.hide,
.state-hide{
    display:none;
}


.slider-pagination ul {
    list-style: disc outside;
}
.slider-pagination .page {
    display: inline-block
}


.grouped-slide-contents {
    overflow: hidden;
        margin-right: 0;
    margin-left: 0;

}
.slider-pagination .page a {
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    border-radius: 8px;
    background: #000;
    text-indent: -9000px;
    cursor: pointer;
}

.slider-pagination .page.active a:before {
    display: block;
}

.slider-pagination .page a:before {
    width: 14px;
    height: 14px;
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: -7px 0 0 -7px;
    border: 1px solid #000;
    border-radius: 14px;
}