.slide {
  position: relative;
}
.hls-controls {
  list-style: none;
  margin: 0;
}
.hls-viewslit {
  overflow: hidden;
}
.hls-items {
  display: block;
  width: 300%;
  height: auto;
  list-style: none;
  padding: 0;
}
.hls-item {
  float: left;
  width: 33.333333%;
}
.hls-item * {
  width: 100%;
}
.hls-control {
  list-style: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
